.prod-name {
  font-weight: 300;
  color: #1d1f22;
  font-size: 18px;
  margin: 24px 0 5px 0;
}

.item {
  margin: 80px 0 30px 0;
  position: relative;
  padding: 20px;
  transition-duration: 0.4s;
}

.active-item {
  background-color: aliceblue;
  padding: 20px;
}

.prod-price {
  font-size: 18px;
  font-weight: 500;
}

.buy {
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
}

.buy:hover {
  background-color: #3a8a3d;
}

.buy:active {
  background-color: #205321;
}
