.ul {
  display: flex;
  list-style: none;
  width: 20%;
}

.ul > li {
  margin-right: 32px;
  cursor: pointer;
}

.ul > li:hover {
  color: #5ece7b;
}

.shopping-cart {
  font-size: 23px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  height: 80px;
  margin: 0 auto;
}

.logo {
  width: 50px;
  object-fit: contain;
}

.nav-right {
  width: 248px;
  display: flex;
  justify-content: flex-end;
}
